////
/// @type color
/// @group color
/// @author Vsevolod Kurochka
////

/// Color general
$color-general: #161e2c

/// Color Black
$color-black: #000

/// Color White
$color-white: #fff

/// Color Branding One
$color-brand-7: #f68f2d

/// Color Branding Two
$color-brand-8: #f00