////
/// @type color
/// @group color
/// @author Vsevolod Kurochka
////

/// Color general
$color-general: #161e2c

/// Color Black
$color-black: #000

/// Color White
$color-white: #fff

/// Color Branding One
$color-brand-7: #f68f2d

/// Color Branding Two
$color-brand-8: #3057b3

/// Color Branding Two
$color-brand-9: #4b9589

/// Color Branding Two
$color-brand-10: #9fbb57

/// Color Branding Two
$color-brand-11: #a04e5a