// Button default
$btn-padding: 10px 16px
$btn-font-size: 15px

// Button large
$btn-large-padding: 15px 25px
$btn-large-font-size: 18px

// Button border
$btn-border-width: 3px
$btn-border-style: solid

//-
//- Buttons variant
//-

// 1 key - background
// 2 key - text color
$btn-static: ("brand-1": ($color-brand-1, $color-white), "brand-2": ($color-brand-2, $color-white),"brand-3": ($color-brand-3, $color-white),"brand-4": ($color-brand-4, $color-white),"brand-5": ($color-brand-5, $color-white))

.btn
	+btn()
	+btn-size($btn-padding, $btn-font-size)
	border-radius: 30px

	&-group &
		margin: 5px

	&_lg
		+btn-size($btn-large-padding, $btn-large-font-size)

		+min(md)
			+btn-size(15px 35px, 16px)

	//-
	//- Iteration button fluid color
	//-

	+btn-static-iteration()