$themeFormDesign: "new"

.form
	width: 100%

	&__row
		+relative()

	&_block &__row
		+offset('b', 15px)

	&_line &
		+max(sm)
			&__row
				+offset(15px)

		+min(sm)
			&__content
				display: flex
				justify-content: center
				+margin-x( -getComp(gutter) )

			&__row
				flex: 1
				+padding-x( getComp(gutter) )
				+offset('r', 15px)

			&__submit
				+size(100%)

	&__label
		display: block
		font-size: 14px
		padding-left: 20px
		+font('l')
		margin-bottom: 5px

	&__control
		+input-default()
		padding: 15px
		border: 1px solid rgb(239, 240, 241)
		border-radius: 10px

		&:focus
			border-color: darken(rgb(239, 240, 241), 20%)
			+placeholder()
				color: transparent